<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
</head>
<body>
    <form id="category-form">
        <select id="category_name" required>
            <option value="">Select category</option>
            <option value="marketing">Marketing</option>
            <option value="reminder">Reminder</option>
            <option value="update">Update</option>
            <option value="support">Support</option>
            <option value="custom">Custom</option>
        </select> <br>
        <button type="submit">Add Category</button>
    </form>

    <ul id="category-list"></ul>

    <form id="template_form" enctype="multipart/form-data">
        <input type="text" id="title" placeholder="Template title" required><br>
        <input type="text" id="template_name" placeholder="Template Name" required><br>
        <input type="text" id="language" value="en" required><br>
        <select id="category_id" required><br>
            <option value="">Select Catgory</option>
        </select>
        <input type="file" id="attachment"><br>
        <input type="url" id="external_url" placeholder="External Link"><br>
        <textarea id="placeholder" placeholder="[{name: value}] JSON format"></textarea><br>
        <label for="">
            <input type="checkbox" id="is_favorite"> Favorite
        </label><br>
        <button type="submit">Create Template</button>
    </form>

    <script>
        
        async function loadCategories(){
            try{
                const response = await fetch('/api/category/create/')

                if (response.ok){
                    const categories = await response.json()
                    const list = document.getElementById('category-list')
                    list.innerHTML = ''

                    categories.forEach(cat => { 
                        const li = document.createElement('li')
                        li.textContent = `
                            ${cat.name.charAt(0).toUpperCase() + cat.name.slice(1)} (created: ${new Date(cat.created_at).toLocaleString()})
                        `
                        list.appendChild(li)
                    })

                    /* Categories for sselecting template */
                    const select = document.getElementById('category_id')
                    categories.forEach(cat => {
                        const option = document.createElement('option')
                        option.value = cat.id
                        option.textContent = cat.name.charAt(0).toUpperCase() + cat.name.slice(1)

                        select.appendChild(option)
                    })
                }
            } catch(error){
                console.log(error)
            }
        }

        document.getElementById('category-form').addEventListener('submit', async (e) => {
            e.preventDefault();

            const name = document.getElementById('category_name').value

            try{
                const response = await fetch('/api/category/create/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    },
                    body: JSON.stringify({name: name})
                })

                if(response.ok){
                    alert('category created')
                } else{
                    const errorData= await response.json()
                    alert('Error creating category:', errorData)
                }
            } catch(error){
                console.error(error);
            }
        })

        document.getElementById('template_form').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData()

            formData.append('title', document.getElementById('title').value)
            formData.append('template_name', document.getElementById('template_name').value)
            formData.append('language', document.getElementById('language').value || 'en')
            formData.append('category', document.getElementById('category_id').value)
            formData.append('external_link', document.getElementById('external_url').value);
            formData.append('is_favorite', document.getElementById('is_favorite').checked);

            const placeholderField = document.getElementById('placeholder')
            if (placeholderField && placeholderField.value.trim() !== ''){
                try{
                    const parse = JSON.parse(placeholderField.value)
                    formData.append('placeholders', JSON.stringify(parse))
                } catch(error){
                    console.error(error)
                    alert('Invalid Json Parser in the placeholder field')
                    return;
                }
            }

            const attachment = document.getElementById('attachment').files[0]
            if (attachment){
                formData.append('attachment', attachment)
            }

            for(let [key, value] of formData.entries()){
                console.log(`${key}:`, value)
            }

            try{
                const response = await fetch('/api/message/template/create/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                    body: formData
                })

                const data = await response.json()
                if(response.ok){
                    alert('Message template created successfully!')
                    document.getElementById('template_form').reset()
                } else{ 
                    console.log('error', data)
                    alert('failed to create template')
                }

            } catch(error){
                console.error(error)
            }
        })

        window.onload = () => {
            loadCategories()
        }
    </script>
</body>
</html>