<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="login-signup" id='registerForm'>
        <input type="text" id="first_name" name="first_name" placeholder="first name"><br>
        <input type="text" id="last_name" name="last_name" placeholder="last name"><br>
        <input type="email" id="email" name="email" placeholder="email"><br>
        <input type="text" id="phonenumber" name="phonenumber" placeholder="phonenumber"><br>
        <input type="password" id="password" name="password" placeholder="password"><br>

        <button type="submit">Register</button> 

        <a href="{% url 'user_authentication:login'%}">Login</a>
    </form>


    <script>
        function getCSRFToken() {
            const cookie = document.cookie.split('; ').find(row => row.startsWith('csrftoken='));
            return cookie ? cookie.split('=')[1] : '';
        }

        document.getElementById('registerForm').addEventListener('submit', async function(e){
            e.preventDefault()

            const form = new FormData(this)

            try{
                const response = await fetch('/account/api/register/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                    },
                    body: form
                })

                const data = await response.json()

                if (response.ok){
                    localStorage.setItem('access_token', data.access_token)
                    localStorage.setItem('refresh_token', data.refresh_token)

                    alert('Sign Up successful')

                    window.location.href = '/account/'
                } else{
                    console.log(data)
                }

            } catch(error){
                console.error(error)
                alert('Something went wrong!!')
            }
        })
    </script>
</body>
</html>